{
  "AR_HOST": "/api",
  "annotationPreview": {
      "paths": [
        "creator",
        "created",
        "generator",
        "generated",
        "modified",
        "type"
      ],
      "body": {"paths": ["type"]}
    },
    "annotationEditor": {
      "lifecycle": [
        {"path": "creator", "label": "Creator", "type": "text"},
        {"path": "generated", "label": "Generated", "type": "dateTime"}
      ]
    }
}
