{
  "AR_HOST": "/api",
  "annotationCard": {
      "paths": [
        "creator",
        "created",
        "generator",
        "generated",
        "modified",
        "type"
      ],
      "body": {"paths": ["type"]}
    }
}
