{
  "AR_HOSTS": {
    "my-annorepo": "/api/annorepo",
  },
  "AUTH_HOST": {
    "loginUrl": "/api/auth",
    "providerUrl": "http://host.docker.internal:4011"
  },
  "annotationPreview": {
    "paths": [
      "creator",
      "created",
      "generator",
      "generated",
      "modified",
      "type"
    ],
      "body": {"paths": ["type"]}
  },
  "annotationEditor": {
      "lifecycle": [
        {"path": "creator", "label": "Creator", "type": "text"},
        {"path": "generated", "label": "Generated", "type": "dateTime"}
    ]
  }
}
