services:
  annorepo_dashboard:
    container_name: annorepo_dashboard
    depends_on:
      - annorepo_server
    ports:
      - 1234:80
    image: annorepo-dashboard:latest
    networks:
      - annorepo_network
    restart: unless-stopped

  annorepo_server:
    container_name: annorepo_server
    environment:
      - AR_EXTERNAL_BASE_URL=http://localhost:8080
      - AR_MONGODB_URL=mongodb://annorepo_mongodb/
      - AR_DB_NAME=annorepo
      - AR_PAGE_SIZE=100
      - AR_WITH_AUTHENTICATION=true
      - AR_ROOT_API_KEY=root
    expose:
      - 8080
      - 9999
    ports:
      - "8080:8080"
      - "9999:8081"
    image: ghcr.io/knaw-huc/annorepo-server:v0.7.1
    networks:
      - annorepo_network
    restart: unless-stopped
    tty: true
    depends_on:
      - annorepo_mongodb

  annorepo_mongodb:
    container_name: annorepo_mongodb
    expose:
      - 27017
    image: mongo:6.0.7
    networks:
      - annorepo_network
    restart: unless-stopped
    tty: true
    volumes:
      - annorepo_mongodb_data:/data/db:rw

networks:
  annorepo_network:

volumes:
  annorepo_mongodb_data:
    driver: local